.chatpage {
	.wrapper {
		height: calc(100vh - 100px);
		overflow-y: scroll;

		.container {
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 0.5rem;
			max-height: calc(100vh - 100px);
			overflow-y: hidden;
			border-top: 1px solid $primary-color;
			// border-bottom: 1px solid $primary-color;

			.chat-side-bar {
				.chat-search-bar {
					form {
						.btn {
							width: inherit;
						}
					}
				}

				.conversation-wrapper {
					max-height: 75vh;
					overflow-y: scroll;
					.active-chats {
						padding-top: 1rem;
						border-bottom: 1px solid $primary-color;

						h4 {
							font-family: "Joti One";
							margin-bottom: 1rem;
							margin-left: 1rem;
						}

						.chats {
							display: grid;
							grid-template-columns: repeat(
								auto-fill,
								minmax(2.5rem, 1fr)
							);
							gap: 0.5rem;
							text-align: center;
							padding: 0 1rem;

							.chat {
								svg {
									font-size: 2.5rem;
									color: $primary-color;
									cursor: pointer;
								}
							}
						}
					}

					.conversations {
						.conversation {
							border-top: 1px solid $primary-color;
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 1rem;
							padding: 1rem;
							cursor: pointer;
							@include transition();

							svg {
								font-size: 2.5rem;
								color: $primary-color;
							}

							.details {
								display: flex;
								align-items: center;
								justify-content: space-between;
								flex: 1;

								h5 {
									font-family: "Joti One";
								}

								small {
									color: $primary-color;
									font-weight: bold;
								}
							}

							&:hover {
								background-color: $grey-color;
							}

							&:first-child {
								border-top: none;
							}
						}
					}
				}
			}
			.message-container {
				width: 100%;
				border-left: 1px solid $primary-color;

				.no-chat-selected {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100vh;
					flex-direction: column;
					h3 {
						font-family: "Joti One";
					}

					h5 {
						margin: 2rem;
					}

					svg {
						font-size: 10rem;
						color: $primary-color;
					}
				}

				.chat-selected {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					width: 100%;

					.header {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 0 1rem;
						border-bottom: 1px solid $primary-color;
						width: 100%;
						// background-color: $primary-color;

						.details {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							gap: 1rem;

							h5 {
								font-family: "Joti One";
							}

							svg {
								font-size: 2.5rem;
								color: $primary-color;
							}
						}

						.message-search-bar {
							text-align: right;
							form {
								div {
									input {
										width: 300px;
									}
								}
							}
						}
					}

					.message-wrapper {
						height: 75vh;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: column;

						.messages {
							overflow-y: scroll;
							width: 100%;
							padding: 0.5rem 1rem;

							.message {
								display: flex;
								align-items: flex-end;
								justify-content: flex-start;
								gap: 0.5rem;
								margin: 0.3rem 0;
								width: 100%;

								svg {
									font-size: 2.5rem;
									margin-bottom: 0.5rem;
									color: $primary-color;
								}

								.chat-details {
									display: flex;
									align-items: flex-end;
									justify-content: space-between;
									background-color: $primary-color;
									max-width: 400px;
									gap: 1rem;
									padding: 1rem 1.5rem;
									border-radius: $radius;
									color: $white-color;

									small {
										font-family: "Joti One";
									}
								}
							}
							.message-mine {
								justify-content: flex-end;

								svg {
									display: none;
								}
							}
						}

						.message-input {
							padding: 0rem 1rem;
							width: 100%;

							form {
								.btn {
									width: inherit;
								}
							}
						}
					}
				}
			}
		}
	}
}
