.resetpasswordpage {
	padding: 4rem 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 2rem;

		section {
			text-align: center;
			font-family: "Joti One";
		}

		form {
			box-shadow: rgba($black-color, 0.14) 0px 1px 8px;
			padding: 2rem 2rem;
			border-radius: $radius;
			background-color: $primary-color;
			color: $white-color;

			h4,
			small {
				text-align: center;
				display: block;
			}

			h4 {
				font-family: "Joti One";
			}

			small {
				margin: 0.5rem 0 1rem 0;
			}
		}
	}
}
